<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>InsertTitleHere</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<script>
$(document).ready(function(){
	
	$('#btn').click(function(){	
		$('#addBoard').submit();
	})
})
</script>
<body>
<div class = "container-fluid">
	<h1>게시글 입력</h1>
	<form id="addBoard" method="post" action="/addBoard" enctype="multipart/form-data">
	<div th:include="/include/menu::sidemenu"></div>
		<div>
			<input type="hidden" id="boardNo" name="boardNo" th:text="${board.boardNo}" readonly="readonly">
		</div>
		<div>
			<input type="text" id="boardTitle" name="boardTitle" th:placeholder="제목">
		</div>
		<div>
			<input type="hidden" id="adminId" name="adminId" th:value="${board.adminId}">
		</div>
		<div>
			<input type="text" th:value="${board.memberId}" readonly="readonly" id="memberId" th:placeholder="${board.memberId}">
			<input type="text" th:value="${board.boardDate}" readonly="readonly" th:placeholder="${board.boardDate}">
		</div>
		<div>
			<textarea rows="5" cols="50" id="boardContent" name="boardContent" th:placeholder="내용"></textarea>
		</div>
		<div>
			<button type="button" id="btn">입력</button>
		</div>
	</form>
</div>
</body>
</html>