<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Index</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style>
 #center{text-align: center;}
</style>
</head>
<body>
<div class="container-flouid">
	<h1>게시판 상세보기</h1>
	<div th:include="/include/menu::sidemenu"></div>
	<div>
		<a href="">이전글</a>
		<a href="">다음글</a>
	</div>
		<div>
			글 제목
			<input type="text" id="boardTitle">
		</div>
		<div>
			작성자 이름
		</div>
		<div>
			작성 날짜
		</div>
		<div>
			글 내용
		</div>
		<div>
			<a href="">목록</a>
			<a href="">수정</a>
			<a href="">삭제</a>
		</div>
		<div>
			<input type="text" id="commentContent">
		</div>
		<form>
		
		</form>
</div>
</body>
</html>