<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>InsertTitleHere</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>

//유효성 검사
$(document).ready(function(){
	$('#btn').click(function(){
		
		
		$('#findMemberPw').submit();
	});
});
</script>
</head>
<body>
	<h1>비밀번호 찾기</h1>
	<form id="findMemberPw" method="post" th:action="@{/findMemberPw}">
		<div>
			ID :
			<input type="text" name="memberId" id="memberId">
			<span id="memberIdHp"></span>
		</div>
			<div>
			Mail :
			<input type="text" name="memberMail" id="memberMail">
			<span id="memberMailHp"></span>
		</div>
		<div>
			<span th:text ="${msg}"></span>
		</div>
		<div>
			<button type="button" id="btn">비밀번호 찾기</button>
		</div>
	</form>
</body>
</html>