
<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>InsertTitleHere</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<div class = "container-fluid">
	<h1>가계부</h1>
	<div th:include="/include/menu::sidemenu"></div>
	<h3 th:text="${day}"></h3>
	<div>
		<a th:href="@{/getCashListByDate(day=${day.plusDays(-1)})}">이전</a>
		<a th:href="@{/getCashListByDate(day=${day.plusDays(1)})}">다음</a>
	</div>
	<table class="table" border="1">
		<thead>
			<tr>
				<td>&nbsp;</td>
				<td>카테고리</td>
				<td>수입</td>
				<td>지출</td>
				<td>장소</td>
				<td>메모</td>
				<td>삭제</td>
				<td>수정</td>
			</tr>
		</thead>
		<tbody>
			<!-- ${cashList}->cash -->
			<tr th:each="cash, index : ${cashList}">
			<td th:text="${index.index}+1"></td>
				<!-- 카테고리 -->
				<td th:text="${cash.categoryName}"></td>
				<!-- 타임리프 if,else문 -->
				<!-- 수입 -->
				<td th:if="${cash.cashKind}=='수입'" th:text="${'+'+cash.cashPrice}"></td>
				<td th:unless="${cash.cashKind}=='수입'"></td>
				<!-- 지출 -->
				<!-- 삼항 연산자 : 조건 ? 참값 : 거짓값 -->
				<td th:if="${cash.cashKind}=='지출'" th:text="${'-'+cash.cashPrice}"></td>
				<td th:unless="${cash.cashKind}=='지출'"></td>
				<!-- 장소 -->
				<td th:text="${cash.cashPlace}"></td>
				<!-- 메모 -->
				<td th:text="${cash.cashMemo}"></td>
				<td><a th:href="@{/removeCash(cashNo=${cash.cashNo})}">삭제</a></td>
				<td><a href="">수정</a></td>
			</tr>
		</tbody>
	</table>
		<div>(수입 + 지출 ) 합계:
			<span th:text="${#numbers.formatInteger(cashKindSum,0,'COMMA')}"></span>원
		</div>
		<div th:if="${session.loginMember != null}">
			<button type="button"><a href="">입력</a></button>
		</div>
</div>
</body>
</html>