<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cashbook.mapper.CashMapper">
  <select id="selectCashListByDate" parameterType ="com.gdu.cashbook.vo.Cash" resultType="com.gdu.cashbook.vo.Cash">
    SELECT
    	cash_no as cashNo,
    	cash_kind as cashKind,
    	category_name as categoryName,
    	cash_price as cashPrice,
    	cash_place as cashPlace,
    	cash_memo as cashMemo
    FROM cash
    WHERE member_id =#{memberId}
    AND cash_date =#{cashDate}
    ORDER BY cash_no ASC
  </select>
  <!-- 합계-->
  <select id="selectCashKindSum" parameterType="com.gdu.cashbook.vo.Cash" resultType="int">
  	SELECT
		(SELECT IFNULL(SUM(cash_price),0)
		FROM cash
		WHERE member_id=#{memberId} 
		AND cash_kind='수입' 
		AND cash_date=#{cashDate})
		-
		(SELECT IFNULL(SUM(cash_price),0)
		FROM cash
		WHERE member_id=#{memberId} 
		AND cash_kind='지출' 
		AND cash_date=#{cashDate})
	FROM dual
  </select>
  <!-- 월 별 합계 -->
  <select id="selectDayAndPriceList" parameterType="java.util.Map" resultType="com.gdu.cashbook.vo.DayAndPrice">
  SELECT DAY(cash_date) as day,
  		SUM(CASE WHEN cash_kind='수입' THEN cash_price
  			WHEN cash_kind='지출' THEN -cash_price END) as price
  FROM cash
  WHERE member_id=#{memberId} 
  AND YEAR(cash_date)=#{year}
  AND MONTH(cash_date)=#{month}
  GROUP BY DAY(cash_date)
  </select>
  <!-- insert -->
  <!-- 가계부 추가(insert) -->
  <insert id="addCashListByDate" parameterType="com.gdu.cashbook.vo.Cash">
  	INSERT INTO
      	cash (
			member_id,
			cash_date,
			cash_kind,
			category_name,
			cash_price,
			cash_place,
			cash_memo
		)VALUES(
			#{memberId},
			#{cashDate},
			#{cashKind},
			#{categoryName},
			#{cashPrice},
			#{cashPlace},
			#{cashMemo}
		)
  </insert>
  <!-- 가계부 삭제(delete) -->
  <delete id="removeCashListByDate" parameterType="com.gdu.cashbook.vo.Cash">
  	DELETE
  	FROM cash
  	WHERE cash_no = #{cashNo}
  </delete>
  <update id="modifyCashListByDate" parameterType="com.gdu.cashbook.vo.Cash">
  UPDATE cash
		SET
		category_name = #{categoryName},
		cash_kind = #{cashKind},
		cash_price = #{cashPrice},
		cash_place = #{cashPlace},
		cash_memo = #{cashMemo},
		cash_date = #{cashDate}
		WHERE cash_no = #{cashNo}
  </update>
  <!-- 가계부 1개 고르기 -->
  <select id ="modifyCashListByOne" parameterType="int" resultType="com.gdu.cashbook.vo.Cash">
  SELECT 
  		cash_no AS cashNo,
  		category_name AS categoryName,
  		cash_kind AS cashKind,
  		cash_price AS cashPrice,
  		cash_place AS cashPlace,
  		cash_memo AS cashMemo,
  		cash_date AS cashDate
  		FROM cash
  		WHERE cash_no =#{cashNo}
  		
  </select>
</mapper>