<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cashbook.mapper.CashMapper">
  <select id="selectCashListByDate" parameterType ="com.gdu.cashbook.vo.Cash" resultType="com.gdu.cashbook.vo.Cash">
    SELECT
    	cash_no as cashNo,
    	cash_kind as cashKind,
    	category_name as categoryName,
    	cash_price as cashPrice,
    	cash_place as cashPlace,
    	cash_memo as cashMemo
    FROM cash
    WHERE member_id =#{memberId}
    AND cash_date =#{cashDate}
    ORDER BY cash_no ASC
  </select>
  <!-- 합계-->
  <select id="selectCashKindSum" parameterType="com.gdu.cashbook.vo.Cash" resultType="int">
  	SELECT
		(SELECT SUM(cash_price)
		FROM cash
		WHERE member_id=#{memberId} 
		AND cash_kind='수입' 
		AND cash_date=#{cashDate})
		-
		(SELECT SUM(cash_price)
		FROM cash
		WHERE member_id=#{memberId} 
		AND cash_kind='지출' 
		AND cash_date=#{cashDate})
	FROM dual;
  </select>
</mapper>