<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cashbook.mapper.CategoryMapper">
	<!-- 카테고리 입력, 중복값 무시, 업데이트 -->
	<insert id="addCategory" parameterType="com.gdu.cashbook.vo.Category">
	INSERT IGNORE INTO 
		cashbook_category(
			category_name,
			category_desc
			)VALUES(
			#{categoryName},
			#{categoryDesc}
			)ON DUPLICATE 
			KEY UPDATE 
			category_name =#{categoryName},
			category_desc =#{categoryDesc}
	</insert>
</mapper>