<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<!-- 매퍼 네임 스페이스-->
	<mapper namespace="com.gdu.cashbook.mapper.MemberMapper">
	<!-- insert -->
	<!-- 회원가입 -->
	<insert id="signUp" parameterType="com.gdu.cashbook.vo.Member"><!-- vo 네임스페이스 -->
	 	INSERT INTO cashbook_member(
	 		member_id,
	 		member_pw,
	 		member_name,
	 		member_address,
	 		member_phone,
	 		member_mail,
	 		member_pic
	 	)VALUES(
	 		#{memberId},
	 		PASSWORD(#{memberPw}),
	 		#{memberName},
	 		#{memberAddr},
	 		#{memberPhone},
	 		#{memberMail},
	 		#{memberPic}
	 	)
	 	<!-- #{} : 동적 ${} : 정적 -->
	</insert>
	<!-- select -->
	<!-- 로그인 -->
	<select id="selectLoginMember" parameterType="com.gdu.cashbook.vo.LoginMember" resultType="com.gdu.cashbook.vo.LoginMember">
		SELECT 
			member_id as memberId,
			member_pw as memberPw
		FROM cashbook_member
		WHERE member_id = #{memberId}
		AND member_pw = PASSWORD(#{memberPw})
	</select>
	
	<!-- 중복체크 -->
	<select id="checkMemberId" parameterType="String" resultType="String">
	<!-- 문자열로 들어오니 기본값과 리턴값 둘 다 String -->
		SELECT
			member_id
		FROM 
			(SELECT member_id FROM cashbook_member
			UNION
			SELECT member_id FROM cashbook_memberid
			)t
		WHERE member_id = #{checkMemberId}
	</select>
	
	<!-- 상세보기 -->
	<select id="selectMemberOne" parameterType="com.gdu.cashbook.vo.LoginMember" resultType="com.gdu.cashbook.vo.Member">
		SELECT
			member_id as memberId,
			member_name as memberName,
			member_address as memberAddr,
			member_phone as memberPhone,
			member_mail as memberMail,
			member_pic as memberPic
		FROM cashbook_member
		WHERE member_id = #{memberId}
	</select>
	
	<!-- Id찾기 -->
	<select id="selectMemberIdByMember" parameterType="com.gdu.cashbook.vo.Member" resultType="String">
		SELECT
			CONCAT(SUBSTRING(member_id, 1, 3), '****')
		FROM cashbook_member
		WHERE member_name = #{memberName}
		AND member_phone = #{memberPhone}
		AND member_mail = #{memberMail}
	</select>
	
	<!-- 이미지 파일 불러오기 -->
	<select id ="selectMemberPic" parameterType="String" resultType="String">
		SELECT member_pic
		FROM cashbook_member
		WHERE member_id = #{memberId}
	</select>
	
	<!-- update -->
	<update id="modifyMember" parameterType="com.gdu.cashbook.vo.Member">
		UPDATE cashbook_member
		SET member_name = #{memberName},
			member_address = #{memberAddr},
			member_phone = #{memberPhone},
			member_mail = #{memberMail},
			member_pic = #{memberPic}
		WHERE 
			member_id = #{memberId}
	</update>
	
	<!--PW 찾기 1. 사용자가 입력한 아이디와 메일이 일치하면 pw를 랜덤문자열로 변경 (update)-->
	<!--PW 찾기 2. 문자열로 받은 pw를 메일로 전송 -->
	<update id="updateMemberPw" parameterType="com.gdu.cashbook.vo.Member">
		UPDATE cashbook_member
		SET
			member_pw = PASSWORD(#{memberPw})
		WHERE
			member_id = #{memberId}
		AND member_mail = #{memberMail}
	</update>
	
	<!-- delete -->
	<delete id="removeMember" parameterType="com.gdu.cashbook.vo.LoginMember">
		DELETE 
		FROM cashbook_member
		WHERE member_id = #{memberId}
		AND member_pw = PASSWORD(#{memberPw})	
	</delete>
</mapper>