<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cashbook.mapper.MemberidMapper">
<insert id="insertMemberid" parameterType="com.gdu.cashbook.vo.Member">
INSERT INTO memberid(
	memberid_no,
	member_id
	)VALUES(
	#{memberidNo},
	#{memberId}
	)
</insert>
</mapper>