<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<!-- 매퍼 네임 스페이스-->
	<mapper namespace="com.gdu.cashbook.mapper.MemberMapper">
	<!-- insert -->
	<!-- 회원가입 -->
	<insert id="signUp" parameterType="com.gdu.cashbook.vo.Member"><!-- vo 네임스페이스 -->
	 	INSERT INTO member(
	 		member_id,
	 		member_pw,
	 		member_name,
	 		member_address,
	 		member_phone,
	 		member_mail
	 	)VALUES(
	 		#{memberId},
	 		PASSWORD(#{memberPw}),
	 		#{memberName},
	 		#{memberAddr},
	 		#{memberPhone},
	 		#{memberMail}
	 	)
	 	<!-- #{} : 동적 ${} : 정적 -->
	</insert>
	<!-- select -->
	<!-- 로그인 -->
	<select id="selectLoginMember" parameterType="com.gdu.cashbook.vo.LoginMember" resultType="com.gdu.cashbook.vo.LoginMember">
		SELECT 
			member_id as memberId,
			member_pw as memberPw
		FROM member
		WHERE member_id = #{memberId}
		AND member_pw = PASSWORD(#{memberPw})
	</select>
	
	<!-- 중복체크 -->
	<select id="checkMemberId" parameterType="String" resultType="String">
	<!-- 문자열로 들어오니 기본값과 리턴값 둘 다 String -->
		SELECT
			member_id
		FROM 
			(SELECT member_id FROM member
			UNION
			SELECT member_id FROM memberid
			)t
		WHERE member_id = #{checkMemberId}
	</select>
	
	<!-- 상세보기 -->
	<select id="selectMemberOne" parameterType="com.gdu.cashbook.vo.LoginMember" resultType="com.gdu.cashbook.vo.Member">
		SELECT
			member_id as memberId,
			member_name as memberName,
			member_address as memberAddr,
			member_phone as memberPhone,
			member_mail as memberMail
		FROM member
		WHERE member_id = #{memberId}
	</select>
	
	<!-- update -->
	<update id="modifyMember" parameterType="com.gdu.cashbook.vo.Member">
		UPDATE member
		SET member_name = #{memberName},
			member_address = #{memberAddr},
			member_phone = #{memberPhone},
			member_mail = #{memberMail}
		WHERE 
			member_id = #{memberId}
	</update>
	
	<!-- delete -->
	<delete id="removeMember" parameterType="com.gdu.cashbook.vo.LoginMember">
		DELETE 
		FROM member
		WHERE member_id = #{memberId}
		AND member_pw = PASSWORD(#{memberPw})	
	</delete>
</mapper>